{% extends "base.html" %}

{% block app_content %}

<form action="" method="post" role="form">
    {{ form.hidden_tag() }}
    <p>From: {{ form.dateFrom }}</p>
    <p>To: {{ form.dateTo }}</p>
    {{ form.submit() }}
</form>

{%if entries|length > 0 %}
<body>
    <div id={{ chartId }}></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>
    $(function () { 
            var myChart = Highcharts.chart({{ chartId }}, {
                chart: {
                    type: 'scatter'
                },
                boost: {
                    useGPUTranslations: true,
                    usePreAllocated: true
                },
                title: {
                    text: {{ title|tojson|safe }}
                },
                xAxis: {
                    min: {{ xaxis.min|tojson|safe }},
                    max: {{ xaxis.max|tojson|safe }},
                    title: {
                        text: {{ xaxis.title.text|tojson|safe }}
                    },
                },
                yAxis: {
                    // Renders faster when we don't have to compute min and max
                    min: {{ yaxis.min|tojson|safe }},
                    max: {{ yaxis.max|tojson|safe }},
                    title: {
                        text: {{ yaxis.title.text|tojson|safe }}
                    }
                },
                legend: {
                    enabled: false
                },
                series: [{
                    type: 'scatter',
                    color: 'rgb(152,0,67)',
                    data: {{ data|tojson|safe }},
                    marker: {
                        radius: 1.0
                    },
                    tooltip: {
                        followPointer: false,
                        pointFormat: '[{point.x:.1f}, {point.y:.1f}]'
                    }
                }]
            });
        });
</script>

{# {% for d in data %}
    <li>{{ d }}
{% endfor %} #}

{% endif %}

{% endblock %}